<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.booksys.mapper.BorrowRecordMapper">

    <!-- 分页查询所有借书记录 -->
    <select id="selectAllBorrowRecords" parameterType="map" resultType="org.example.booksys.entities.BorrowRecord">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT * FROM BOOKMAN."borrow_record"
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <select id="selectAllFullBorrowRecords" parameterType="map" resultType="org.example.booksys.entities.BorrowRecordResponse">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT "record_id", "user_id", "uname", "borrow_record"."book_id", "book_title", "borrow_date", "return_date"
                          FROM BOOKMAN."borrow_record"
                              left join BOOKMAN."user" on "user"."uid" = "borrow_record"."user_id"
                              left join BOOKMAN."book" on "book"."book_id" = "borrow_record"."book_id"
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <select id="selectFullBorrowRecordsByUserId" parameterType="map" resultType="org.example.booksys.entities.BorrowRecordResponse">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT "record_id", "user_id", "uname", "borrow_record"."book_id", "book_title", "borrow_date", "return_date"
                          FROM BOOKMAN."borrow_record"
                                   left join BOOKMAN."user" on "user"."uid" = "borrow_record"."user_id"
                                   left join BOOKMAN."book" on "book"."book_id" = "borrow_record"."book_id"
                          WHERE "user_id" = #{userId}
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <select id="selectFullBorrowRecordsByBookId" parameterType="map" resultType="org.example.booksys.entities.BorrowRecordResponse">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT "record_id", "user_id", "uname", "borrow_record"."book_id", "book_title", "borrow_date", "return_date"
                          FROM BOOKMAN."borrow_record"
                                   left join BOOKMAN."user" on "user"."uid" = "borrow_record"."user_id"
                                   left join BOOKMAN."book" on "book"."book_id" = "borrow_record"."book_id"
                          WHERE "borrow_record"."book_id" = #{bookId}
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <!-- 根据userId分页查询该用户的借书记录 -->
    <select id="selectBorrowRecordsByUserId" parameterType="map" resultType="org.example.booksys.entities.BorrowRecord">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT * FROM BOOKMAN."borrow_record"
                          WHERE "user_id" = #{userId}
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <!-- 根据bookId分页查询该书的借书记录 -->
    <select id="selectBorrowRecordsByBookId" parameterType="map" resultType="org.example.booksys.entities.BorrowRecord">
        SELECT *
        FROM (
                 SELECT t.*, ROW_NUMBER() OVER (ORDER BY t."record_id" DESC) AS rn
                 FROM (
                          SELECT * FROM BOOKMAN."borrow_record"
                          WHERE "book_id" = #{bookId}
                      ) t
             ) rt
        WHERE rt.rn >= #{start} AND rt.rn &lt;= #{end}
    </select>

    <!-- 插入一条借书记录（归还日期留空） -->
    <insert id="insertBorrowRecord" parameterType="map">
        INSERT INTO BOOKMAN."borrow_record" ("record_id", "book_id", "user_id", "borrow_date")
        VALUES (#{recordId}, #{bookId}, #{userId}, #{borrowDate})
    </insert>

    <!-- 更新借书记录，记录下归还日期 -->
    <update id="updateBorrowRecord" parameterType="map">
        UPDATE BOOKMAN."borrow_record"
        SET "return_date" = #{returnDate}
        WHERE "record_id" = #{recordId}
    </update>

</mapper>